.navbar-logo {
    width: 10%;
    height: 10%;
    min-width: 50px;
    min-height: 50px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.navbar-elementos {
    font-size: 1.3rem;
    font-weight: 400;
}