.titulo-nav {
    text-decoration: none;
    color: #d7d9ce;
}

.navbar-elementos {
    font-size: 1.3rem;
    font-weight: 400;
}

.link {
    text-decoration: none;
    color: #d7d9ce;
    margin: auto 0px;
    font-size: 1.2rem;
}

.link:hover {
    color: grey;
}